@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@100&display=swap');

body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #073f34;
    text-decoration: none;
    padding: 35px;
    margin: 50px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #9f956c;
}

header {
    background-color: #ffffff;
}

nav a:hover {
    background-color: #073f34;
    color: #ffffff
}

.book, .join {
    background-color: #ffffff;
    text-decoration: none;
    color: #181a74;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
}

.book:hover, .join:hover {
    background-color: #181a74;
    color: #ffffff
}

#background {
    background-color: #073f34;
}

.msg {
    background-color: #ffffff;
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
}

footer h3 a:hover {
    text-decoration: underline;
    color: black;
}

.home-title {
    font-family: 'Architects Daughter', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg p {
    padding-bottom: 15px;
}

.social img {
    padding-top: 15px;
}

.rivers-card {
    margin-top: 200px 0;
}

.camping-card {
    margin-top: 200px 0;
}

.rapids-card {
    margin-top: 200px 0;
}

.card-img {
    border: 10px solid #073f34;
}

main section img {
    box-sizing: border-box;
}