* {
    background-color: pink;
    padding: 5px;
    text-align: center;
    max-width: 600px;
}

header {
    color: white;
}

h1:hover {
    color: black;
}

#large {
    color: white;
    font-size: 300%;
}

img {
    display: block;
    margin: 0 auto;

}

main {
    max-width: 80%;
}