@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans&display=swap');

body {
    font-family: 'Oleo Script', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
