nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    margin: 20px;
    color: green;
    font-size: 1.5em;
    text-decoration: none;
}

a:hover {
    color: lightgreen;
    text-decoration: none;
}